body{

    margin:0;

    background:#0D1117;

    overflow:hidden;

}



#boot-screen{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}



#terminal-line{

    display:flex;

    align-items:center;

    gap:15px;

}



#core{

    width:70px;

    position:relative;

    top:-200px;

    opacity:0;

    animation:

    coreDrop 1.5s ease forwards;

}



@keyframes coreDrop{


    0%{

        top:-200px;

        opacity:0;

    }


    60%{

        opacity:1;

    }


    100%{

        top:0;

        opacity:1;

    }


}



#boot-text{

    color:#C9D1D9;

    font-family:monospace;

    font-size:24px;

}