body{

    margin:0;

    background:#0D1117;

    overflow:hidden;

}


#boot-screen{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}



#core-container{

    margin-bottom:40px;

}


#core{

    width:80px;

}



#boot-text{

    color:#C9D1D9;

    font-family:monospace;

    font-size:24px;

    letter-spacing:1px;

}